* { 
    margin: 0; 
    padding: 0; 
} 

.flexrow { 
    display: flex;
} 

.spacebetween { 
    justify-content: space-between;
} 

.flexcolumn { 
    display: flex; 
    flex-direction: column; 
    height: auto; 
    
}